/* Meu primeiro Comentário */
/* Reset do CSS para o navegador*/ 
*{
    margin: 0;  /* Margem */
    padding: 0;  /* Preenchimento */
} 

/* Corpo do Site */ 
body{
    height: 100%; /* altura */
    width: 100%; /* largura */
    display: flex;
    justify-content: center;
    background: linear-gradient(#7aeef8, #c7c8c8);
    background-repeat: no-repeat;
}   
/* Logo  */ 
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 150px;
}

/* Titulo */ 
.name{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #308ff4;
    font-family: Arial, Helvetica, sans-serif;
}

/* Topico Redes Sociais */
.redes-sociais{
    margin-top: 10px;
    margin-bottom: 30px;
    display:flex; /* organizar itens na mesma linha */
    justify-content:center;
    align-items:center; /* alinhamento de itens  */
}
.icon, .email {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px; 
    transition: all 0.3s ease-out; /* voltar na explicação */ 
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color:#308ff4;  /* Cor do Icone */
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color:#308ff4 ; /* Cor do Icone */
    line-height: 35px;
    font-size: 17px;
}
.name-icon{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    float: right;
    color: #c7c8c8;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover{
    width: 125px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}
.icon:nth-child(1):hover i{
    background: #030303;
}
.icon:nth-child(2):hover i{
    background: #df4bf2;
}
.icon:nth-child(3):hover i{
    background: #41adec;
}
.icon:nth-child(4):hover i{
    background: #030303;
}
.email:hover i {
    background: red;    
}
/* Fim CSS Redes Socias  */

/*Css texto*/
.texto{
    display: flex;
    justify-content: center;  /*centralizar Texto*/
    align-items: center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 500px;
    height:50px;
    padding: 40px 40px 40px 40px;   /*pra cima,direita,baixo,esquerda*/
    border-radius: 30px; 
    color: #030303;
    background: #c7c8c8;
    overflow: hidden;
    box-shadow: inset;
    cursor: pointer;
}   
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    display: flex;
    color: #1a17c4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
}

.linguagem{
    display: flex;
    justify-content:center;
    margin: 50px;
   
}
.linguagem img{
    display: flex;
    justify-content:center;
    align-items: center;
    width:170px;
    border-radius: 200px;
    margin: 5px;
    box-shadow: 2px 2px 2px;
}
.Projetos{
    margin: auto;
    margin-top: 50px;
    flex-direction: column;

}
.Projetos a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #000000;
    border: 5px solid #41adec;
    border-radius: 50px;
    width: 200px;
    height: 80px;
    margin-bottom: 7px;
    background: #f9ffff;
    box-shadow: 0 5px 5px rgba(173, 10, 10, 0.5);
    cursor: pointer;

}   

#video{
    padding: 10px;
    margin: auto;
    display: none;

}
#video.acative{
    display: block;
}
.rodape{
    color: #308ff4;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 'Time New Roman', Times, serif;
}